language: android
android:
  components:
    - tools
    - build-tools-19.1.0
    - android-19
    - platform-tools

before_script:
  - chmod +x gradlew
  - git config --global core.autocrlf false

licenses:
  - '.+'

script:
 - ./gradlew assembleRelease --stacktrace
