<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rohanupponi.scribeapp">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AccountSelection"></activity>
        <activity
            android:name=".LoginPage"
            android:label="@string/title_activity_login_page"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DoctorRegistration"
            android:label="@string/doctor_register_screen_title" />
        <activity
            android:name=".PatientRegistration"
            android:label="@string/patient_register_screen_title" />
        <activity
            android:name=".PatientForgotPassword"
            android:label="@string/account_recovery_screen_title" />
        <activity
            android:name=".DoctorForgotPassword"
            android:label="@string/account_recovery_screen_title" />
        <activity
            android:name=".DoctorHome"
            android:label="@string/title_activity_doctor_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PatientHome" />
        <activity
            android:name=".PatientProfile"
            android:label="@string/title_activity_patient_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DoctorProfile"
            android:label="DoctorProfile"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>